<table border="1">
      <% form_for(@curso) do |f| %>
        <%= f.error_messages %>
        <tr>
          <td>
           <b>*Nome</b>
          </td>
          <td><%= f.text_field :nome, :size => 30 %></td>
        </tr>
        <tr>
          <td>
            <b>*Ministrante</b>
          </td>
          <td><%= f.text_field :ministrante, :size => 30 %></td>
        </tr>
        <tr>
          <td colspan="2"><div id='nome_aviso' style="font-size: large; color:red"></div></td>
        </tr>
        <tr>
          <td><b>*Ementa </b></td>
          <td><b>Observações </b></td>          
       </tr>
       <tr>
         <td><%= f.text_area(:ementa, :cols =>"40", :rows => "3") %></td>
         <td><%= f.text_area(:obs, :cols =>"40", :rows => "3") %></td>
       </tr>
       <tr>
         <td><%= f.label :carga_horaria, "Carga Horaria do curso" %></td>
         <td><%= f.label :vagas_disponiveis, "Quantidade de vagas" %></td>
       </tr>
       <tr>
         <td><%= f.text_field :carga_horaria, :size => 10 %></td>
         <td><%= f.text_field :vagas_disponiveis, :size => 10 %></td>
       </tr>
       <tr>          
         <td colspan="2"><%= f.submit "Salvar" %></td>
       </tr>
    <% end %>
    <%= observe_field :curso_nome,
      :with => :curso_nome,
      :url => { :action => 'mesmo_nome' } %>

    <tr><td colspan="2"><%= render "shared/avisos" %></td></tr>
</table>
